/*
    Created on : Jul 23, 2015, 11:50:33 AM
    Author     : PENTALOG\sscerbatiuc
*/

/*MERCEDES-BENZ OFFICIAL FONT*/
@font-face{
    font-family: "Corporate A BQ";
    src:url('../fonts/corporate-a-bq.ttf');
}

/***************************** PAGE SETTING **************************************/

html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: rgb(25,31,38);

}

body{
    background: url("../img/body_background.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Corporate A BQ";
    overflow-x:hidden;
}

#wrapper {
    display: table;
    height: 100%;
    width: 100%;	
}

/****************************** HEADER *********************************************/

/* LOGO */

.logo{
    display: table-row;
    text-align: center;
    height: 150px;
    font-size: 23px;
    transition: height 0.1s linear 0s, padding 0.1s linear 0s;
    overflow:hidden;
    background: rgba(241,230,215,0.95);
    color: #FFFFFF;
}

.logo #logo_img{
    background: url("../img/logo_main.png") no-repeat;
    margin: 0 auto;
    height: 150px;
    width: 290px;
}

/* NAVIGATION MENU PROPERTIES */

#navigationContainer{
    /*margin-right: 10%;
    margin-left: 10%;*/
    background: rgba(241,230,215,0.95);
}

.menu{
    z-index: 999;
    display: table-row;
    height: 50px;
    transition: height 0.1s linear 0s;
}

.navigationButtons{
    font-size: 20px;
    transition: 0.5s linear 0s;
}

.nav-justified>li>a {
    color: rgb(25,31,38);
    font-family: "Corporate A BQ";
    transition: 0.5s linear 0s;
}

.nav-justified>li>a:hover {
    color: rgb(25,31,38);
    background-color: rgb(243,241,240);
    transition: 0.5s linear 0s;
}

.nav-justified>li .active{
    background-color: rgb(243,241,240);
    transition: 0.5s linear 0s;

}

/***************************** CONTENT *********************************************/

.contentContainer{
    display: table-row;
    height: 100%;
    width: 100%;

}

.contentContainer #content{
    font-family: "Corporate A BQ";
    text-align: center;
    height: 100%;
    width: 80%;
    padding: 0 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(241,230,215,0.85);
}

/* CONTENT ALIGNED TO THE LEFT*/
.contentLeft{
    text-align: left;
}

.contentLeft>ul>li {
    font-size: 120%;
}

/***************************** FOOTER ***********************************************/

.footer {
    display: table-row;
    height: 50px;

}

.footer #footerContent{
    /*margin-right: 10%;
    margin-left:10%;*/
    height: 100%;
    background: rgba(241,230,215,0.95);
}

/*********** MAKES THE MENU BAR STICK TO THE TOP WHEN SCROLLING  ********************/
.stick{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

/****************************** ADNOTATIONS *****************************************/
.adnotation{
    display: inline-block;
    color: #9D9E95;
}
