<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Vehicle Store{% endblock %}</title>
        {% block stylesheets %}
                       
        {% endblock %}
    </head>
    <body>
        {% block body %}
            Base html twig file
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
