<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mercedes Store{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mercedesvstore/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mercedesvstore/css/style.css') }}"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="wrapper">
                <div class="logo">
                    <div id="logo_img"></div>
                </div>
                <div class="menu">
                    <div id="navigationContainer">
                        <ul class="nav nav-tabs nav-justified navigationButtons">
                            <li {% if active = home %} class="active" {% endif %}}<a href="/">Homepage</a></li>
                            <li {% if active = cars %} class="active" {% endif %}><a href="/cars">Cars</a></li>
                            <li {% if active = specs %} class="active" {% endif %}><a href="/spec">Specifications</a></li>
                            <li {% if active = discount %} class="active" {% endif %}><a href="/discount">Discount</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentContainer">
                    <div id="content">
                        
                        {% block content %}
                            <br/>
                        {# PAGE CONTENT WILL BE HERE #}
                        {% endblock %}
                        
                    </div>
                </div>
                <div class="footer">
                    <div id="footerContent"></div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/mercedesvstore/js/jquery-1.11.3.min.js') }}"></script>
            <script src="{{ asset('bundles/mercedesvstore/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
