{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Discount {% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <p> Discount options available </p>
{% endblock %}
