{% extends 'MercedesVStoreBundle::base.html.twig' %}

{#-- STYLESHEETS #}
{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mercedesvstore/css/homepage.css') }}"/>
{% endblock %}
{#-- /STYLESHEETS #}

{#-- BODY --#}
    {% block body %}
        {{parent()}}
    {% endblock %}
{#-- /BODY --#}

{#-- CONTENT --#}
    {% block content %}
        {{ parent() }}
        <p id="welcomeMessage">We are one of the world’s most successful automotive companies. 
            <br>The comfort, security and beauty is at its finest like never before. 
            <br>We believe in a concept. No compromises. No excuses. We are concerned about every single detail. 
            <br>Every piece, every technology involved, every curve, are a masterpiece of both design and technology                process. We are <strong>Mercedes-Benz</strong></p>

    <a id="templateButton" class="btn btn-default" href="/cars">See Models</a>
{% endblock %}
{#-- /CONTENT --#}
