{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Specifications {% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <p>Optional Specifications</p>
{% endblock %}
